<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory System - Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
  </head>
  <body>
    <header
      th:if="${role} eq 'SUPERVISOR'"
      th:insert="~{@{fragment/header.html}}"
    ></header>
    <header
      th:if="${role} eq 'ADMIN'"
      th:insert="~{@{fragment/header-admin.html}}"
    ></header>
    <form
      class="content"
      th:object="${barang}"
      method="post"
      th:action="@{/data-master/add}"
    >
      <h1 class="mb-4 text-center">Tambah Barang</h1>
      <div class="mb-3">
        <label for="kode-barang" class="form-label">Kode Barang</label>
        <input
          type="text"
          class="form-control"
          id="kode-barang"
          placeholder="Masukkan Kode Barang"
          th:field="*{kode}"
        />
        <div
          class="alert alert-danger"
          th:if="${#fields.hasErrors('kode')}"
          th:errors="*{kode}"
        ></div>
        <div
          class="alert alert-danger"
          th:if="${errorMessage != null}"
          th:text="${errorMessage}"
        ></div>
      </div>
      <div class="mb-3">
        <label for="nama-barang" class="form-label">Nama Barang</label>
        <input
          type="text"
          class="form-control"
          id="nama-barang"
          placeholder="Masukkan Nama Barang"
          th:field="*{nama}"
        />
        <div
          class="alert alert-danger"
          th:if="${#fields.hasErrors('nama')}"
          th:errors="*{nama}"
        ></div>
      </div>
      <div class="mb-3">
        <label for="nama-barang" class="form-label">Nama Vendor</label>
        <input
          type="text"
          class="form-control"
          id="vendor"
          placeholder="Masukkan Nama Vendor"
          th:field="*{namaVendor}"
        />
        <div
          class="alert alert-danger"
          th:if="${#fields.hasErrors('namaVendor')}"
          th:errors="*{namaVendor}"
        ></div>
      </div>
      <div class="text-center mt-5">
        <button
                type="submit"
                th:data-confirm-add="|Apakah Anda yakin ingin menambahkan barang?|"
                onclick="if (!confirm(this.getAttribute('data-confirm-add'))) return false"
                class="btn btn-success">
          Tambah
        </button>
      </div>
    </form>
  </body>
  <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</html>
