<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory System - Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
  </head>
  <body>
    <header
      th:if="${role} eq 'SUPERVISOR'"
      th:insert="~{@{fragment/header.html}}"
    ></header>
    <header
      th:if="${role} eq 'ADMIN'"
      th:insert="~{@{fragment/header-admin.html}}"
    ></header>
    <form
      class="content"
      th:object="${transactionInDto}"
      method="post"
      th:action="@{/in/add}"
    >
      <h1 class="mb-4 text-center page-title">Transaksi Barang Masuk</h1>
      <div class="mb-3">
        <label for="kode-barang" class="input-label">Kode Barang</label>
        <select class="form-control" id="kode-barang" th:field="*{kodeBarang}">
          <option
            th:each="barang : ${barangs}"
            th:value="${barang.kode}"
            th:text="${barang.kode} + ' - ' + ${barang.nama}"
          ></option>
        </select>
        <div
          class="alert alert-danger"
          th:if="${#fields.hasErrors('kodeBarang')}"
          th:errors="*{kodeBarang}"
        ></div>
      </div>
      <div class="mb-3">
        <label for="nomor-surat-jalan" class="form-label input-label"
          >Nomor Surat Jalan</label
        >
        <input
          type="text"
          class="form-control"
          id="nomor-surat-jalan"
          placeholder="Nomor Surat Jalan"
          th:field="*{nomorSuratJalan}"
        />
        <div
          class="alert alert-danger"
          th:if="${#fields.hasErrors('nomorSuratJalan')}"
          th:errors="*{nomorSuratJalan}"
        ></div>
      </div>
      <div class="mb-3">
        <label for="stok" class="form-label input-label">Stok</label>
        <input
          type="number"
          class="form-control"
          id="stok"
          placeholder="Masukkan Stok Barang"
          th:field="*{stok}"
        />
        <div
          class="alert alert-danger"
          th:if="${#fields.hasErrors('stok')}"
          th:errors="*{stok}"
        ></div>
      </div>
      <div class="text-center mt-5">
        <button
          type="submit"
          th:data-confirm-add="|Apakah Anda yakin ingin menambahkan transaksi barang masuk? Transaksi yang sudah ditambahkan tidak bisa diubah|"
          onclick="if (!confirm(this.getAttribute('data-confirm-add'))) return false"
          class="btn btn-success"
        >
          <img
            th:src="@{/images/add.png}"
            class="img-fluid"
            alt=""
            style="width: 25px"
          />
        </button>
      </div>
    </form>
  </body>
</html>
